[Desktop Entry]
Type=Application
Name={{name}}
Comment={{comment}}
Exec={{exec}} %f
Icon={{icon}}
Categories=Office;TextEditor;Utility;
MimeType=text/markdown;text/x-markdown;
StartupWMClass=markink
Terminal=false
